{% extends "base.html.jinja"%}

{% block index_title%}
    <h1 class="fw-bold">Pan Tadeusz, czyli ostatni zajazd na Litwie: historia szlachecka z roku 1811 i 1812 we dwunastu księgach wierszem</h1>
{% endblock%}


{% block picture%}
    <div class="col-md-8 mt-2 row align-items-center">
        <img src="static\DworekSoplicow.png" alt="Zdjęcie" class="img-fluid-rounded">
    </div>
{% endblock%}
